.chess-board {
    display: flex;
}

.chess-board div {
    width: 10vmin;
    height: 10vmin;
}

.chess-board div.black {
    background-color: red;
}

.chess-board div.white {
    background-color: black;
}
